.menu {
    background-color: #fff;
    padding: 2em 3em;
    text-align: center;
    border-radius: .5em;
    display: none;
}
  
h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .5em;
}
  
p {
    margin-bottom: 2em;
    color: #666;
}
