h1{
    text-align: center;
    display: block;
    color:black;
    margin-top: 100px;
    margin-bottom: 20px;
}

h2 { 
    text-align: center;
}

h4 {
    margin-top: 20px
}

body{ 
    background:#eee;
    font-family: sans-serif;
}

.partida {
    display: none;
}

.tabuleiro {
    margin: 20px auto;
    width: 600px
}

.botaoLimpar {
    position: relative;
    margin: 0 auto;
    width: 200px;
}

button {
    width: 200px;
    display: inline-block;
    padding:20px;
    text-align: center;
    border-radius: 5%;
    color: white;
    background-color: #000;
    border: none;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-color:3px solid white;
    box-shadow: 0 0 0 2px #000 inset;
    transition: background .4s ease, color .4s ease;
}

button:hover {
    box-shadow: 0 0 0 2px #000 inset;
    color: #000;
    background-color: transparent;
}

button.peca {
    background: white;
    background-position: center;
    display: inline-block;
    border: none;
    padding: 20px;
    width: 80px;
    height: 80px;
    margin: 0 20px;
    transition: all 0.5s;
    cursor: pointer;
}


button.peca.branca {
    background-image: url('../img/chesspieces/wikipedia/wK.png');
}

button.peca.preta {
    background-image: url('../img/chesspieces/wikipedia/bK.png');
}

.wrap {
    margin: auto;
}

.box{
    width: 600px;
    margin: 50px auto;
}

.btn-box {
    width: 450px;
    margin: 60px auto 30px auto;
    min-height: 100px;
}

.promocao{ 
    width: 334px;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 7px;
    display: none;
    background-color: white;
    position: absolute;
}